.carousel {
  --card-size: 512px;
  --scroll-bar-offset: 2rem;
  --content-area: 60rem;
  --gutter: max(calc((100% - var(--content-area) ) / 2), 1rem);

  overflow-x: scroll;
  overflow-y: hidden;

  /* Set padding, and then reverse it with negataive margin to remove clipped space */
  padding-bottom: var(--scroll-bar-offset);
  margin-bottom: calc(-1 * var(--scroll-bar-offset));
  /* Clip the scrollbar so it's not visible */
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--scroll-bar-offset)), 0% calc(100% - var(--scroll-bar-offset)));
}

/***
Add gutter when window width is less than the max width
Example:
Window - 60rem
Gutter Left - 1rem
Gutter Right - 1rem
*/

/* @media (max-width: 62rem) {
  .carousel {
    --gutter: 1rem;
  }
} */

@media (max-width: 640px) {
  .carousel {
    --card-size: 90% !important;
  }
}

.carousel .content {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  overflow: visible;
  gap: 1rem;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  grid-auto-columns: minmax(var(--card-size), 1fr);
  /* position:relative; */
  /* grid-template: 1fr / min-content; */
}

