@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Equal to the logo height + top padding + bottom padding */
  --header-height: 142px; /** 78px + 16px + 48px */
  --focus-outline-color: #7954ff; /** Purple colour with 4.5 or greater contrast ratio on black and white backgrounds */
  @screen md {
    --header-height: 168px; /** 104px + 16px + 48px */
  }

  --read-comfortable: 32rem;

}

.max-w-readable {
  @apply max-w-[var(--read-comfortable)]
}

#main-content {
  scroll-margin-top: 3rem;
}

#main-content section:first-child {
  /** Include padding for header in the first section of the main element */
  padding-top: var(--header-height);
}

.DEFAULT_CONTENT {
  @apply max-w-screen-xs md:max-w-screen-md mx-auto;
}
.DEFAULT_GRID_GAP {
  @apply gap-8 md:gap-12;
}
.DEFAULT_GRID_COLS {
  @apply grid-cols-1 md:grid-cols-2;
}
.standard-section {
  @apply py-12 md:py-16 px-10 w-full;
}

.content\:grid-cols-2 {
  @apply grid mx-auto grid-cols-1 md:grid-cols-2 gap-4 max-w-screen-xs md:max-w-screen-md;
}


/*
.include-padding-for-header {
  padding-top: var(--header-height);
} */
.card-grid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.menu-grid {
  grid-template-columns: auto 1fr;
  align-items:center;
  /* justify-items: end; */
}

.grid-cards {
  grid-auto-columns: minmax(343px, 720px);
  grid-auto-flow: column;
}

.grid-overflow {
  display: grid;
  grid-template-columns: 1fr minmax(0, 60rem) 1fr;
  background-color: green;
  overflow:hidden;
}

.bg-gradient-image-essential-heading {
  background-image: url("/_public/bg-essential-audit-heading.png");
  background-size: cover;
  background-position: 50% 50%;
}

*:focus:not([tabindex='-1']), button:focus {
  outline:4px var(--focus-outline-color) solid;
  outline-offset:2px;
}
*:focus[tabindex='-1'] {
  outline:none !important;
}

@responsive {
  .grid-cols-2\/1{
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

.as\:h2 {
  @apply text-40 font-bold max-w-[40rem];
}

/* a:focus {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  @apply ring ring-4;
} */

.quoted::before {
  content: ' ';
  display:inline-block;
  background:url("/_public/leftquote@2x.png");
  background-size:1rem;
  background-repeat:no-repeat;
  width:1.25rem;
  height:1rem;
  margin-left:-1.25rem;
}
.quoted::after {
  content: ' ';
  display:inline-block;
  background:url("/_public/rightquote@2x.png");
  background-size:1rem;
  background-repeat:no-repeat;
  background-position:100% 0;
  display:inline-block;
  width:1.25rem;
  height:1rem;
}
/*
* {
  outline: 1px solid red;
} */



/* ol li, ul li {
  font-size: $root-paragraph-font-size;
  line-height: $root-paragraph-line-height;
  list-style: none;
  margin-bottom: 8px;
  small {
    font-size: 0.875em;
    display: block;
  }

} */

ol.list-counter, ul.list-bullet {
  li {
    list-style-position: inside;
    position: relative;
    padding-left: 3ex;
    overflow: hidden;
  }
  li::before {
    content: "• ";
    position: absolute;
    top: 0;
    left: 0;
    display:  inline-block;
    height: 100%;
    width: 3ex;
  }
}

ol.list-counter {
  counter-reset: ol-list;

  li {
    counter-increment: ol-list;
  }

  li::before{
    content: counter(ol-list) ". ";
  }
}


.custom\:bg-image-checkmark {
  background-image:url('/_public/checkmark.png');
  background-size:contain;
}